# Python bytecode / caches
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
env/
venv/

# Python packaging/builds
dist/
build/
*.egg-info/
*.egg
*.log

# -----------------------------------
# Ignore training checkpoints
# -----------------------------------
training/notebook/*.ipynb_checkpoints
training/*.ipynb_checkpoints

# Environment variables / credentials
.env
*.env

# OS/system files
.DS_Store
Thumbs.db
